/*
Theme Name: Episteme
Description: Wordpress theme made for Department of Epistemology in the Institute of Philosophy of the Warsaw University
Author: Tadeusz Łazurski
Theme URI: http://epistemologia.uw.edu.pl/
Author URI: http://lazurski.pl/
Version: 0.7
Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, fixed-width, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html

Template: twentyeleven
*/

@import url("../twentyeleven/style.css");

/* @import url("http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext"); */
@import url('http://fonts.googleapis.com/css?family=Dosis:300,500,700&subset=latin,latin-ext');

body {
  background: white;
}

body, input, textarea {
  font: 15px 'Dosis', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.singular .entry-header,
.singular .entry-content,
.singular footer.entry-meta,
.singular #comments-title {
  width: initial;
  width: -moz-initial;
}

a {
  color: hsl(328, 71%, 27%);
}

#branding {
  border-top: none;
}

#site-title {
  font-size: 36px;
  padding: 0 0;
}

#site-title a:hover,
#site-title a:focus,
#site-title a:active {
  color: initial;
  color: -moz-initial;
}

#site-description {
  font-size: 18px;
  margin: 0 270px 1em 0;
}

hgroup[lang=en] {
  color: hsl(0, 0%, 48%);
  padding: 1em 0 2em;
}

hgroup[lang=en] .site-title {
  font-size: 18px;
}

hgroup[lang=en] .site-desription {
  font-size: 14px;
}

.site-title a:hover,
.site-title a:focus,
.site-title a:active {
  color: initial;
  color: -moz-initial;
}

#access {
  background: hsl(328, 71%, 20%); /* Show a solid color for older browsers */
  background: -moz-linear-gradient(hsl(328, 71%, 27%), hsl(328, 71%, 15%));
  background: -o-linear-gradient(hsl(328, 71%, 27%), hsl(328, 71%, 15%));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsl(328, 71%, 27%)), to(hsl(328, 71%, 15%))); /* older webkit syntax */
  background: -webkit-linear-gradient(hsl(328, 71%, 27%), hsl(328, 71%, 15%));
}

#access a {
  color: white;
  font-size: 15px;
}

.entry-content,
.entry-summary {
  padding: none;
}

.child-entries .entry-content,
.sticky-posts .entry-content {
  padding-left: 15px;
  border-left: solid 5px hsl(328, 71%, 27%);
}
.sticky-posts .entry-content {
  font-size: 140%;
}

.entry-content a,
.comment-content a {
  font-weight: bold;
}

 .singular .entry-header .entry-meta {
  top: 35px;
}

.singular .entry-meta .edit-link a {
  left: -80px;
  top: 60px;
}

.widget_links ul {
  list-style: none;
}

#site-generator {
  background: none;
}